{% extends 'components/base.html' %}
{% block title %}Post Details{% endblock %}
{% load humanize %}
{% block body %}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="{{ post.title }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.description }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ post.updated_at }}</small></p>
            </div>
        </div>
    </div>
</div>

{% if request.user.is_authenticated %}
<form class="mt-5" method="POST" action="/comment/create/{{post.id}}/">
    {% csrf_token %}
    <div class="mb-3">
        <textarea class="form-control" name="message" rows="5" placeholder="Write down your comment...."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}

<div class="mt-5">
    <h3 class="text-center mb-5">Comments</h3>
    {% for comment in comments %}
    <div class="alert alert-secondary" role="alert">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <p>{{comment.message}}</p>
                <small class="text-muted">{{comment.created_at|naturaltime}} , author by
                    {{comment.author.username}}</small>
            </div>
            {% if comment.author.id == request.user.id %}
            <div>
                <a href="#" class="btn btn-primary">Update</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}